<%= form_for [post, comment] do |f| %>
  <%= render "shared/error_message", obj: comment %>
  <div class="control-group">
    <%= f.label :body, "Add new comment:" %> 
    <%= f.text_area :body, rows: 3, class: "span4" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

