<div class="row">
  <!-- Display up/down vote area -->
  <%= render "votes/vote", obj: post %>

  <!-- Display post info --> 
  <div class="span10 well">
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4> 
    <p><%= post.description %></p>
    <p>
      <span class="quiet">posted by </span><%=link_to post.user.username, user_path(post.user) %>
      <small>at <%= format_date_time(post.created_at) %></small>
    </p>
    <span>
      <%= link_to "#{post.comments.size} comments", post_path(post) %>
      <% if logged_in? && current_user.id == post.user.id %>
        (<%= link_to :edit, edit_post_path(post) %>)
      <% end %>
    </span>
  </div>
</div>

