<!-- Post Category badges -->
<p>
  <%= render @post.categories %>
</p>

<!-- Page title and post description -->
<%= render "shared/content_title", title: link_to(@post.title, fix_url(@post.url)) %>
<p>
  <%= @post.description %>
</p>
<hr/>

<!-- Form to add comment -->
<% if logged_in? %>
  <%= render "comments/form", post: @post, comment: @comment %>
  <br/>
<% end %>

<!-- Display all comments -->
<h4>Comments</h4>
<% @post.comments.each do |comment| %>
  <%= render "comments/comment", comment: comment %>
<% end %>
